# Ignore public SSH keys
*.pub

# Ignore VS Code settings
.vscode/

# Ignore compiled binaries and build outputs

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# C, C++
*.exe
*.dll
*.obj
*.o
*.so
*.a
*.out

# Python
__pycache__/
*.py[cod]

# General
*.log
*.tmp
*.bak
*.swp

a
gith